
    body {background-color: rgba(44, 67, 220, 0.829);
    }
    hr {
        border-style: dotted none none;
        height: 0px;
        width: 2%;
        border-width:5px;
        border-color: grey;
    }
