
    body {background-color: powderblue;
    }
    hr {
        border-style: dotted none none;
        height: 0px;
        width: 2%;
        border-width:5px;
        border-color: grey;
    }

    h1{
        color: #66BFBF;
    }

    h3 {
        color: #66BFBF;
    }